.weather {
    width: 500px;
    height: 250px;
    border-radius: 6px;
    box-shadow: lightgrey 0 0 20px;
    background-color: white;
    padding: 40px;
}

.up, .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cityName {
    font-weight: bold;
    font-size: 34px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    margin: 0;
}

.weather-icon {
    width: 100px;
}

.temperature {
    font-weight: bold;
    font-size: 90px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 40px;
}

.parameterRow {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 26px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 26px;
}


@media screen and (max-width: 1200px) {
    .weather {
        width: 100%;
        height: 170px;
    }
    .cityName {
        font-size: 18px;
    }
    .weather-description {
        font-size: 16px;
    }
    .weather-icon {
        width: 80px;
    }
    .temperature {
        font-size: 50px;
    }
    .parameter-label {
        font-size: 14px;
    }
    .parameter-value {
        font-size: 14px;
    }
    .weather {
        padding: 20px;
    }
}