.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
}
.image-container {
  width: 500px;
  height: 320px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: lightgrey 0 0 20px;
}

.image-container img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.current-weather-city-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.landing {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 600px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: lightgrey 0 0 20px;
}

.weather-app {
  font-weight: bold;
  font-size: 90px;
}
.weather-desc {
  font-size: 30px;
}


@media screen and (max-width: 1200px) {
  .image-container {
    width: 100%;
  }
  .current-weather-city-photo {
    flex-direction: column;
  }
  .weather-app {
    font-size: 60px;
    text-align: center;
  }
  .weather-desc {
    font-size: 20px;
    text-align: center;
  }
}